/* Allow zoomed cards to overflow in Slick Carousel */
.slick-list {
  overflow: visible !important;
}
.slick-slide {
  overflow: visible !important;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
